.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
}

.buttons i {
    text-decoration: none;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 70%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    transition: all.4s ease-in-out;
    }